<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src 'self' data:;">
    <title>Bot API</title>
    <link rel="stylesheet" type="text/css" href="./swagger-ui.css" >
    <link rel="stylesheet" type="text/css" href="./styles-fix.css?10" >
    <link rel="icon" type="image/png" href="./res/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="./res/favicon-16x16.png" sizes="16x16" />
    <style>
      html
      {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after
      {
        box-sizing: inherit;
      }

      body
      {
        margin:0;
        background: #fafafa;
      }

    </style>
  </head>

  <body>
    <div id="header" class="botapi-header"><div class="botapi-logo"><a id="langSwitcher" class="botapi-lang-switcher"></a></div></div>
    <div id="wrapper"></div>

    <script src="./swagger-ui-bundle.js"> </script>
    <script src="./swagger-ui-standalone-preset.js"> </script>
    <script>
      const KEY_CONFIG = {
          "apiUrl":     "__API_URL__",
          "profileUrl": /__PROFILE_URL__/g,
          "title": "__TITLE__",
          "emailSupport": /__EMAIl_SUPPORT__/g
        },
        CONFIG_REVISION = 1;

      let HOST_CONFIG = {};
      let LANG_CONFIG = {};
      let usedTranslateKeys = {};
      let LANG = 'en';
      let uriLang = (location.search.match(/[?&]lang=(\w\w)/) || [])[1];

      let locale = (navigator.language || navigator.browserLanguage || navigator.userLanguage).substr(0,2).toLowerCase();
      if (uriLang) {
        locale = uriLang;
      }
      if (locale === 'ru' || locale === 'uk') LANG = 'ru';

      window.onload = function() {
        function DisableTryItOutPlugin() {
          return {
            statePlugins: {
              spec: {
                wrapSelectors: {
                  allowTryItOutFor: function () {
                    return function () {
                      return false;
                    }
                  }
                }
              }
            }
          }
        }

        const replaceConfigKeys = (str) => {
          Object.keys(KEY_CONFIG).forEach((k) => {
            if (HOST_CONFIG[k]) {
              str = str.replace(KEY_CONFIG[k], HOST_CONFIG[k]);
            }
          });
          return str;
        };

        const translate = (str, path) => {
          str = str.replace(/tr{{([^}]+)}}/g, (i, keys) => {
            keys = keys.split(',');
            const key = keys[0];
            if (LANG_CONFIG[key]) {
              usedTranslateKeys[key] = true;
              return LANG_CONFIG[key].replace(/\$(\d)/g, (i, n) => keys[n] || '');
            } else {
              console.error('No localization found for key "' + key + '" in file ' + path);
              return '<i style=\\"color:red;\\">' + (key ? 'No localization found for key \\"<b>' + key + '</b>\\"' : 'There is no key') + '</i>';
            }
          });
          return str;
        };

        const checkUnusedTranslateKeys = () => {
          let unUsedKeys = Object.keys(LANG_CONFIG).filter((key) => !usedTranslateKeys[key]);
          if (unUsedKeys.length) {
            console.error('There are unused translation keys that should be deleted: \n\t"' + unUsedKeys.join('"\n\t"') + '"');
          }
        };

        const launchSwagger = () => {
          // Begin Swagger UI call region
          const requestedUrls = [];
          const rnd = Math.round(Math.random() * 1e7);
          const ui = SwaggerUIBundle({
            showAlternativeSchemaExample: true,
            url: "./api.yaml?" + rnd,
            dom_id: '#wrapper',
            deepLinking: true,
            presets: [
              SwaggerUIBundle.presets.apis,
              SwaggerUIStandalonePreset
            ],
            plugins: [
              DisableTryItOutPlugin
            ],
            responseInterceptor: req => {
              if (req.body && req.body.paths) {
                Object.keys(req.body.paths).forEach((key) => {
                  requestedUrls.push(req.body.paths[key].$ref);
                });
              }
              let path = (req.url.match(/[^\/](\/[^\/?#][^?#]+)(?=\?.*)?/) || [])[1];
              requestedUrls.some((ref, i, ar) => {
                if (path.indexOf(ref) > -1) {
                  ar.splice(i, 1);
                  return true;
                }
              });
              req.text = translate(req.text, path);
              req.text = replaceConfigKeys(req.text);
              try {
                req.body = JSON.parse(req.text);
              } catch(err) {}

              if (!requestedUrls.length) {
                checkUnusedTranslateKeys();
              }

              return req;
            },
            layout: "BaseLayout"
          });
          // End Swagger UI call region

          window.ui = ui
        };

        const xhrGet = (url) => {
          return new Promise((resolve) => {
            let req = new XMLHttpRequest;
            req.open('GET', url, true);
            req.onreadystatechange = function () {
              if (req.readyState !== 4) return;
              resolve(req);
            };
            req.send('');
          });
        };

        let langMap = {
          ru: {link: 'en', text: 'Eng'},
          en: {link: 'ru', text: 'Rus'}
        };
        let langSwitcher = document.getElementById('langSwitcher');
        langSwitcher.setAttribute('href', '?lang=' + langMap[LANG].link);
        langSwitcher.innerHTML = langMap[LANG].text;

        let getConfig = xhrGet('./host_config.json?' + CONFIG_REVISION).then((req) => {
          if (req.status === 200) {
            try {
              HOST_CONFIG = JSON.parse(req.responseText);
              let header = document.getElementById('header');
              if (HOST_CONFIG['projectId']) {
                header.className = header.className + ' botapi_' + HOST_CONFIG['projectId'];
                document.body.className = 'doc-botapi_' + HOST_CONFIG['projectId'];
              }
              if (HOST_CONFIG['title']) document.title = HOST_CONFIG['title'];
            } catch(ex) {}
          }
        });

        let langRnd = Math.round(Math.random() * 1e5);
        let getLang = xhrGet('./lang_config_' + LANG + '.json?' + langRnd).then((req) => {
          if (req.status === 200) {
            try {
              LANG_CONFIG = JSON.parse(req.responseText);
              let copyright = document.getElementById('copyright');
              copyright.innerHTML = translate(copyright.innerHTML, 'index.html');
            } catch(ex) {}
          }
        });

        Promise.all([getConfig, getLang]).then(launchSwagger);

      }
    </script>

    <p id="copyright" class="botapi-copyright" rel="noopener noreferrer">tr{{copyright}} <a href="https://github.com/swagger-api/swagger-ui" target="_blank">Swagger UI</a>, <a href="NOTICE.html">Copyright 2019 Mail.Ru Group</a></p>

  </body>
</html>
