body {font-family: Arial,sans-serif; font-size: 16px}

#titlebar {position: relative; margin-left: auto; margin-right: auto}
#logo {left:0; position:absolute; width: 190px; z-index: 150}
#logo-a {display: block; height: 34px; margin-left: auto; margin-right: auto; overflow: hidden; text-indent: -20em; width: 92px; background-repeat: no-repeat; background-image: url(./yanswers.png); background-size: 702px 40px}
#title {box-sizeing: border-box; position: absolute; min-width: 700px; width: 100%; border-left: 190px solid #FFF; padding-right: 314px; max-width: 900px; font-size: 30px}

#nav {clear: both; margin-top: 50px; float: left; width: 200px; font-size: 18px; color: #777;}
#nav ul {list-style-type: none; margin: 0; padding:10px}
#nav li {border-bottom: 1px dashed #2084BA; margin-top: 5px}
#nav a {text-decoration: none}
#nav a:visited {color: #777;}
#nav a:hover {color: #777; cursor: pointer}

#container {margin-left: 210px; margin-right: auto; position: relative}
#sep {height: 48px}
.item {}

#content ul {list-style: none; border: 1px solid #E6E6E6; padding: 0; margin: 0}
#content li {border-bottom: 1px solid #E6E6E6; margin: 0; padding: 14px; list-style: none outside none}
li.item {font-size: 13px}
li.item h3 {font-weight: 500; line-height: 18.2px; font-size: 15px; color: #1C71FF; padding: 0; margin: 0; word-wrap: break-word; font-color: #0F69FF; text-decoration: none}
#desc {font-size: 13px; line-height: 18px}
li .stat {color: #888}
li .dot {font-size: 14px}
#content a:link {color: #0F69FF; text-decoration: none}
#content a:visited {color: #0F69FF; text-decoration: none}
#content a:hover {color: #0F69FF; text-decoration: underline}